/nbproject/private/
/TesisCalidad-war/nbproject/private/
/TesisCalidad-ejb/nbproject/private/
/TesisCalidad-ejb/dist/
/TesisCalidad-ejb/build/
/build/
/dist/
/TesisCalidad-ejb/dist/
/TesisCalidad-ejb/build/
/dist/
/build/
/TesisCalidad-war/dist/
/TesisCalidad-war/build/
